* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(/imagens/17819951_SL-013020-27540-31.jpg);
    background-size: cover;
    text-align: center;
    color: #434343;
}

main.cards{
    display: flex;
    padding: 32px;

}

main.cards section.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    background-color: aliceblue;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
    border: solid 2px rgba(255, 255, 255, 0.226);
    margin-left: 64px;
}

main.cards section.card:first-child{
    margin-left: 0;
}

main.cards section.card .icon{
    width: 128px;
    height: 128px;
}

main.cards section.card img{
    width: 100%;
}
